@import "styles";

@mixin elv-button-colors($background, $background-hover, $color, $color-hover, $color-border, $color-border-hover) {
  @include elv-no-select;
  background: $background;
  border: 1px solid $color-border;
  color: $color;

  &:visited {
    color: $color;
  }

  &:not(:active):hover {
    background: $background-hover;
    border: 1px solid $color-border-hover;
    color: $color-hover;
  }
}

@mixin elv-button {
  @include elv-no-select;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: $elv-font-m;
  min-width: 7.5rem;
  padding: $elv-spacing-mxs $elv-spacing-s;
  text-align: center;

  &:focus {
    box-shadow: 0 0 8px $elv-color-lightblue;
    outline: 2px auto $elv-color-lighterblue;
  }
}

.-elv-button {
  @include elv-button;
  @include elv-button-colors(
                  linear-gradient(175deg, $elv-color-mediumblue, lighten($elv-color-mediumblue, 7%)),
                  $elv-color-bg-white,
                  $elv-color-text-white,
                  $elv-color-mediumblue,
                  $elv-color-mediumblue,
                  $elv-color-mediumblue
  );

  &.secondary {
    @include elv-button-colors($elv-color-bg-white, $elv-color-mediumgray, $elv-color-text-dark, $elv-color-text-white, $elv-color-mediumgray, $elv-color-mediumgray);
  }

  &.tertiary {
    @include elv-button-colors($elv-color-bg-white, $elv-color-bg-light, $elv-color-text-light, $elv-color-text-black, $elv-color-lightergray, $elv-color-mediumgray);
  }

  &.danger {
    @include elv-button-colors($elv-color-bg-white, $elv-color-darkergray, $elv-color-darkergray, $elv-color-text-white, $elv-color-darkergray, $elv-color-darkergray);
  }
}
