@import "variables/colors";
@import "variables/spacing";

.-elv-icon {
  color: $elv-color-darkergray;
  display: block;
  fill: $elv-color-darkergray;
  height: 30px;
  width: 30px;
}

.-elv-icon-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 30px;
  padding: 0;

  .-elv-icon {
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto;
  }

  svg {
    height: 100%;
  }

  &:hover:enabled {
    .icon {
      opacity: 0.8
    }
  }

  &:active:enabled {
    .icon {
      opacity: 0.9
    }
  }

  &:disabled {
    cursor: auto;
    opacity: 0.5;
  }
}
