@import "styles";

.-elv-radio-options {
  width: 100%;

  &.-elv-radio-inline {
    display: flex;
  }

  .-elv-radio-option {
    display: flex;

    label,
    input {
      cursor: pointer;
    }

    label {
      min-width: 100px;
    }

    input {
      margin-right: $elv-spacing-xs;
    }

    &.-elv-radio-inline {
      align-items: center;
      margin-right: $elv-spacing-l;

      &:last-child {
        margin-right: 0;
      }

      label {
        min-width: 0;
      }
    }
  }
}
