@import "styles";

.-elv-traversable-json {
  &.-elv-indented,
  .-elv-indented {
    padding-left: $elv-spacing-m;
  }

  .-elv-json-entry {
    margin-top: $elv-spacing-xs;
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
  }

  label {
    margin-right: $elv-spacing-xs;
  }

  .-elv-json-entry-literal {
    align-items: center;
    display: flex;
  }

  .-elv-actions {
    align-items: center;
    display: flex;
  }

  .-elv-expand-button,
  button {
    @include elv-no-select;
    color: $elv-color-mediumgray;
    height: $elv-font-l;
    padding: 0 $elv-spacing-xs;

    &:last-child {
      padding-left: 0;
    }
  }

  .-elv-expand-button,
  label {
    cursor: pointer;
  }

  .-elv-literal {
    color: $elv-color-text-light;
    padding: 0 $elv-spacing-xs;
    white-space: normal;
    word-break: break-all;
  }
}
